@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div id="vm-login">
   @* <form action="@Url.Action("LoginDo")" method="POST" onsubmit="return pwdEncrypt();">*@
        <div class="mdl-textfield mdl-js-textfield login-txt center">
            <input class="mdl-textfield__input" type="text" id="username" name="UserName" v-model="username">
            <label class="mdl-textfield__label" for="username">UserName</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield login-txt center">
            <input class="mdl-textfield__input" type="password" id="password" name="Password" v-model="password">
            <label class="mdl-textfield__label" for="password">Password</label>
        </div>
        <button v-on="click:login()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent login-btn center">
            Login
        </button>
        <button v-on="click:authorizeGithub()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored login-btn center mb-top10">
            Github登陆
        </button>
   @* </form>*@
</div>
<input type="hidden" value="@ViewBag.strPublicKeyExponent" id="keyExponent"/>
<input type="hidden" value="@ViewBag.strPublicKeyModulus" id="keyModulus"/>

<script type="text/javascript" src="/Scripts/libs/rsa/BigInt.js"></script>
<script type="text/javascript" src="/Scripts/libs/rsa/RSA.js"></script>
<script type="text/javascript" src="/Scripts/libs/rsa/Barrett.js"></script>
<script type="text/javascript" src="/Scripts/app/modules/login/app.js"></script>
<script type="text/javascript">
    function pwdEncrypt() {
        setMaxDigits(130);
        var key = new RSAKeyPair("@ViewBag.strPublicKeyExponent", "", "@ViewBag.strPublicKeyModulus");
        console.log(key);
        var pwd = document.getElementById('password').value;
        var pwdRSA = encryptedString(key, pwd);
        document.getElementById('password').value = pwdRSA;
        return;
    }
</script>